.blanc {
    background-color: black;
    width: 70px;
    height: 70px;
}

.noir {
    background-color: pink;
    width: 5px;
    height: 5px;
}

td {

}




table .grandeGrille
{
    height: 200%;
    width: 200%;
}
