.noir {
    background-color: white;

}

.vide {
    /*background-color: white;*/
    width:50px;
    height: 50px;

}

.jouable {
    border: 2px solid #29B26D ;
}

h1{
    text-align: center;
    font-family: Arial;
    color: #29B26D;

}

table{
    border:2px solid;
    border-collapse:collapse;


}

.grandTableau {
    /*align = center;*/

    }

.petitTableau {
    background-color: #2981FF;

   }

td {
    border: 1px solid black;

}

.croix {
    background-color: #2981FF;
    width:50px;
    height: 50px;
}

.rond {
    background-color: #FFCB69;
    width:50px;
    height: 50px;
}

.croixGagne td{
    background-color: #2981FF;
    border-style: none;
}

.rondGagne td{
    background-color: #FFCB69;
    border-style: none;

}

h2{
    text-align: center
}

#bt{
    text-align: center;
}

.boutton
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border:none;
    border-radius: 21px;
    font-family: Arial;
    color: #2981FF;
    font-size: 14px;
    background: #FFCB69;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.boutton:hover
{
    color: #FFCB69;
    background: #2981FF;
    text-decoration: none;
    cursor: pointer;
}



table .grandeGrille {

}

#lien_bouton
{
    text-decoration: none;
}

#presentation{
    font-family: Arial ;
}


video
{
    display: block;
    margin: auto;
}

