.noir {
    background-color: white;
}

.vide {
    width:50px;
    height: 50px;
}

.jouable {
    border: 3px solid #29B26D ;
}

h1{
    text-align: center;
    font-family: Arial;

}

table{
    border:1px solid black;
    border-collapse:collapse;


}

.grandTableau {
    /*align = center;*/

    }

.petitTableau {
    background-color: #2981FF;

   }

td {
    border: 1px solid black;

}

.croix {
    background-color: #2981FF;
    width:50px;
    height: 50px;
}

.rond {
    background-color: #FFCB69;
    width:50px;
    height: 50px;
}

.croixGagne td{
    background-color: #2981FF;
    border-style: none;
}

.rondGagne td{
    background-color: #FFCB69;
    border-style: none;

}

